# # Supabase Auth config
DATABASE_URL=postgresql://postgres.jbctntbyagqowvfegren:[password]@aws-1-eu-north-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://jbctntbyagqowvfegren.supabase.co
SUPABASE_JWKS_URL=https://jbctntbyagqowvfegren.supabase.co/auth/v1/.well-known/jwks.json
JWT_AUDIENCE=authenticated
PORT=4000