# Supabase Auth config
DATABASE_URL=postgresql://postgres.jbctntbyagqowvfegren:[password]@aws-1-eu-north-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://db.jbctntbyagqowvfegren.supabase.co
SUPABASE_JWKS_URL=[SUPABASE_JWKS_URL]
JWT_AUDIENCE=authenticated
# Supabase ??? keys
SUPABASE_SERVICE_ROLE_KEY=[SUPABASE_SERVICE_ROLE_KEY]}
SUPABASE_ANON_KEY=[SUPABASE_ANON_KEY]
